.grid {
  display: flex;
  margin: 0 -20px;
  flex-wrap: wrap;
}

.row {
  width: 100%;
  justify-content: center;
}

.col {
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
}

.col img {
  max-width: 100%;
}

.translucent-tile {
  background-color: rgba(255, 255, 255, 0.4);
  min-height: 6rem;
  min-width: max-content;
  margin: 1rem 0.5rem;
  vertical-align: middle;
  font-size: 1.5rem;
  color: #fff;
  padding: 3rem 0.5rem;
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: 300;
}

.translucent-tile a {
  color: #fff;
  text-decoration: none;
}

.translucent-tile a:hover {
  color: #fff;
  text-decoration: none;
}

.wrapper {
  padding: 1.2rem 0;
}

.form-row {
  min-height: 4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.form-row-wrapper {
  margin-bottom: 20px;
  text-align: left;
}

.form-row > label {
  width: 100%;
  margin-bottom: 2rem;
}

.form-row > input,
.form-row > textarea {
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  line-height: 1.8rem;
  font-size: 1.5rem;
  width: 100%;
  border: none;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
}

.error-msg {
  color: rgb(255, 255, 0);
  font-size: 1rem;
  text-transform: capitalize;
  padding-left: 0.5rem;
}

#submit-button {
  height: 3rem;
  box-sizing: border-box;
  background-color: hsla(209, 59%, 12%, 1);
  color: #fff;
  padding: 0 4rem;
  transition: all 400ms;
}

#submit-button:hover {
  color: hsla(209, 59%, 12%, 1);
  background-color: rgba(255, 255, 255, 0.85);
  transition: all 400ms;
}

@media all and (min-width: 650px) {
  .grid {
    justify-content: center;
  }

  .col {
    width: 70%;
  }
}

@media all and (min-width: 1050px) {
  .col {
    width: 46%;
  }

  .form-row {
    padding-left: 5px;
    padding-bottom: 5px;
    display: flex;
    min-height: auto;
  }

  .form-row > label {
    width: 20%;
    vertical-align: middle;
    margin-bottom: 0;
  }

  .form-row > input,
  .form-row > textarea {
    width: 75%;
    margin-top: 0;
  }

  .error-msg {
    width: 75%;
    margin-left: 20%;
    padding-left: 5px;
  }

  #submit-button {
    margin-left: 20%;
  }
}
